<form id="form" class="reserve">			
    <table width="600">
        <tr>
            <td>使用部门:</td>
            <td>
                <input class="mini-hidden" name="mid"/>
                <input class="mini-textbox" name="title" required="true"/>
            </td>
            <td>召集人:</td>
            <td>
                <input class="mini-textbox" name="C3_531241057192" required="true"/>
            </td>
        </tr>
        <tr>
            <td>会议开始时间:</td>
            <td colspan="3" id="start">
                
            </td>
        </tr>
        <tr>
            <td>会议结束时间:</td>
            <td colspan="3" id="endtime">
               
            </td>
        </tr>
        <tr>
            <td>参会人员:</td>
            <td colspan="4">
              <input id="lookup"
                      name="C3_531241226642"
                      class="mini-lookup"
                      style="width:450px"
                      popup="#gridPanel"
                      grid="#datagrid1"
                      multiSelect="true"
                      textField="C3_384367557332"
                      valueField="C3_384367557332" />
              <div id="gridPanel" class="mini-panel" title="header" iconCls="icon-add" style="width:450px;height:250px;" showToolbar="true" showCloseButton="true" showHeader="false" bodyStyle="padding:0" borderStyle="border:0">
                  <div property="toolbar" style="padding:5px;padding-left:8px;text-align:center;">  
                      <div style="float:left;padding-bottom:2px;">            
                          <input id="keyText"  style="width:160px;" data-bind="textInput:keyTextValue"/>
                          
                          <!--<a  id="search" class="mini-button mini-button-success">查询</a>-->
                          <a class="mini-button mini-button-warning" onclick="onClearClick" id="clearall" name="clearall">清空所有</a>
                      </div>
                      <div style="float:right;padding-bottom:2px;">
                          <a class="mini-button mini-button-danger" onclick="onCloseClick">关闭</a>
                      </div>
                      <div style="clear:both;"></div>
                  </div>
                  <div id="datagrid1" class="mini-datagrid" style="width:100%;height:100%;"borderStyle="border:0" showPageSize="false" showPageIndex="false">
                      <div property="columns">
                          <div type="checkcolumn" ></div>
                          <div field="C3_227212499515" width="50" headerAlign="center" allowSort="true">部门</div>  
                          <div field="C3_227192484125" width="50" headerAlign="center" allowSort="true">姓名</div>    
                          <div field="C3_384367557332" width="100" headerAlign="center" allowSort="true">邮箱</div>             
                      </div>
                  </div>                                             
              </div>
          </td>
      </tr>
      <tr>
          <td colspan="5">茶歇:</td>
      </tr>
      <tr>
            <td></td>
            <td colspan="2">中餐<input name="C3_531241319249" class="mini-spinner" style="width:55px;text-align:right" minValue="0" maxValue="99">×15元/份</td>
            <td colspan="2">西餐<input name="C3_531241331249" class="mini-spinner" style="width:55px;text-align:right" minValue="0" maxValue="99">×50元/份</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">咖啡<input name="C3_531241275373" class="mini-spinner" style="width:55px;text-align:right" minValue="0" maxValue="99">×20元/杯</td>
            <td colspan="2">小瓶水<input name="C3_531241265561" class="mini-spinner" style="width:55px;text-align:right" minValue="0" maxValue="99">×2元/瓶</td>
        </tr>
        <tr class="mtaf tc">
            <td colspan="3">
                <input type="button" id="ok" value="确认申请" class="btn btn-primary" data-bind="click : ok">
                <input type="button" value="取消申请" class="btn btn-primary" data-bind="click : cancel">
            </td>
        </tr>
    </table>
</form>;
		