<div id="att">
    <table>
        <thead>
            <tr>
                <th>查询联系人</th>
                <th><input type="text" ajaxOptions='{dataType:"jsonp",jsonp:"jsoncallback"}'></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id ="confirm" type="button" value="确定" class="tBtn1" data-bind="click : ok"/>
                    <input type="button" value="取消" class="tBtn2" data-bind="click : cancel">
                </td>
            </tr>
            <tr>
                <td>
                    <textarea rows="5" cols="120"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 